# filled out gitconfig template
git/gitconfig.local.symlink
# scratch files
temp.*
# tokens, credentials, etc.
secrets.*
# any built targets (e.g. rust analyzer language server)
target
# `brew bundle` "lock" file - not actually for reproducible installs, mostly a
# debugging tool
# ref - https://github.com/Homebrew/homebrew-bundle/pull/552
Brewfile.lock.json
