<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.derekatkinson.quicktimeaudiorecording</string>
	<key>connections</key>
	<dict>
		<key>69993D17-77BA-44D9-A5CE-1AF43EA69E89</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51534242-66DB-4660-B307-C52BF2C67216</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>711FE6AC-6E37-47F4-804C-C9C4C391B097</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE1D45AF-8251-4F41-8E75-8D8F45D04EFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F07024E1-35A4-478E-A514-EE8121BE7CB6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD5289A2-410F-4C48-9100-61086BF79349</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Derek Atkinson</string>
	<key>description</key>
	<string>Open QuickTime and start recording audio, screen, or movie.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>QuickTime Recording</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "QuickTime Player" to activate
  tell application "System Events"
    tell process "QuickTime Player"
        keystroke "n" using {control down, command down}
        keystroke space
    end tell
end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>AD5289A2-410F-4C48-9100-61086BF79349</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>qts</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Screen Recording (QuickTime)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F07024E1-35A4-478E-A514-EE8121BE7CB6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>qta</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Audio Recording (QuickTime)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>711FE6AC-6E37-47F4-804C-C9C4C391B097</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "QuickTime Player" to activate
  tell application "System Events"
    tell process "QuickTime Player"
        keystroke "n" using {control down, option down, command down}
        keystroke space
    end tell
end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>AE1D45AF-8251-4F41-8E75-8D8F45D04EFA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "QuickTime Player" to activate
  tell application "System Events"
    tell process "QuickTime Player"
        keystroke "n" using {option down, command down}
        keystroke space
    end tell
end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>51534242-66DB-4660-B307-C52BF2C67216</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>qtm</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Movie Recording (QuickTime)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>69993D17-77BA-44D9-A5CE-1AF43EA69E89</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Adapted from MrClaye's QuickTime screen recording script: http://www.alfredforum.com/topic/589-start-quicktime-screencast-workflow/?p=2812

Works perfectly* on OS X 10.11 (El Capitan) and QuickTime 10.4

* Movie recording requires you actually click the record button.</string>
	<key>uidata</key>
	<dict>
		<key>51534242-66DB-4660-B307-C52BF2C67216</key>
		<dict>
			<key>note</key>
			<string>Start new movie recording</string>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>69993D17-77BA-44D9-A5CE-1AF43EA69E89</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>711FE6AC-6E37-47F4-804C-C9C4C391B097</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>AD5289A2-410F-4C48-9100-61086BF79349</key>
		<dict>
			<key>note</key>
			<string>Start new screen recording</string>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>AE1D45AF-8251-4F41-8E75-8D8F45D04EFA</key>
		<dict>
			<key>note</key>
			<string>Start new audio recording</string>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>F07024E1-35A4-478E-A514-EE8121BE7CB6</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/derekatkinson</string>
</dict>
</plist>
