<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.openinvim</string>
	<key>connections</key>
	<dict>
		<key>6DAEBF5A-9D6D-4528-96BA-E0669D5E8EC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FA1DAC54-58A5-4819-AB6E-F054E2653D00</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BFB95AB6-3FCB-4125-863A-3B983A84C42D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FA1DAC54-58A5-4819-AB6E-F054E2653D00</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Bhishan Poudel</string>
	<key>description</key>
	<string>Open a file in vim.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open in vim</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BFB95AB6-3FCB-4125-863A-3B983A84C42D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>vim "{query}"</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>FA1DAC54-58A5-4819-AB6E-F054E2653D00</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Open file in vim</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>6DAEBF5A-9D6D-4528-96BA-E0669D5E8EC7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow is created by Richard Guay. Visit http://customct.com/alfred-2-workflows for even more fun!

These commands are for working with the slap terminal editor easier. You can learn more about slap at https://github.com/slap-editor/slap

vim:editterminal
	This edits the current file in either Finder or Pathfinder and opens it in MacVim terminal.

vim:editgui
	This edits the current file in either Finder or Pathfinder and opens it in MacVim gui.

HotKey is setup to take the current OS X selection and open it in terminal vim or gui vim.</string>
	<key>uidata</key>
	<dict>
		<key>6DAEBF5A-9D6D-4528-96BA-E0669D5E8EC7</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>BFB95AB6-3FCB-4125-863A-3B983A84C42D</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>FA1DAC54-58A5-4819-AB6E-F054E2653D00</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://bhishanpoudel.ml/</string>
</dict>
</plist>
